################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Verify-Unit-Test/Testing/Snapshots
